
div#container {
  /*Grid Properties*/
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto 272px auto;
  grid-template-rows: 25px 192px;

  /*Regular Properties*/
  height: auto;
  width: 100%;
}
div.header {
  /*Grid Properties*/
  grid-column: 1 / 4;
  grid-row: 1 / 2;

  /*Regular Properties*/
  background-color: #f00;
  height: 25px;
  width: 100%;
}
div.header p {
  text-align: center;
  color: #fff;
}
#month {
  /*Grid Properties*/
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: repeat(7, 30px);
  grid-template-rows: repeat(7, 30px);
  grid-gap: 10px;

  /*Regular Properties*/
  height: 192px;
  width: 272px;
}
div div div {
  background: #fff;
  border: solid #888 1px;
  height: 30px;
  width: 30px;
}

div p {
  margin: 0px;
  padding: 0px;
  color: #000;
  vertical-align:text-top;
}
